<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "Cpolar守护者" ?>
<?define Manufacturer = "埃博拉酱" ?>
<!--每次生成必须更新版本号否则不会卸载旧版本，并且必须使用重新生成否则可能不会使用新发布的组件-->
<?define Version = "1.1.0" ?>
<?define UpgradeCode = "cc9051b6-9aa6-46f8-94fc-bd4e9bdd586a" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(Name)"
			 Manufacturer="$(Manufacturer)"
			 Version="$(Version)"
			 UpgradeCode="$(var.UpgradeCode)"
			 Compressed="true"
			 Scope="perMachine">

		<!-- Allow upgrades and prevent downgrades -->
		<MajorUpgrade DowngradeErrorMessage="已经安装了更高版本的[ProductName]。安装程序现在将退出。" />

		<!-- Define the directory structure -->
		<StandardDirectory Id="ProgramFiles64Folder">

			<!-- Create a folder inside program files -->
			<Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">

				<!-- Create a folder within the parent folder given the name -->
				<Directory Id="INSTALLFOLDER" Name="$(Name)">

					<!-- Create a single component which is the App.WindowsService.exe file -->
					<Component Id="ServiceExecutable" Bitness="always64">

						<!-- Copies the App.WindowsService.exe file using the
					 project reference preprocessor variables -->
						<File Source="$(sys.CURRENTDIR)..\Cpolar守护服务\发布\Cpolar守护服务.exe"/>

						<!-- Remove all files from the INSTALLFOLDER on uninstall -->
						<RemoveFile Name="*.*" On="uninstall" />

						<!-- Tell WiX to install the Service -->
						<ServiceInstall Id="ServiceInstaller"
										Type="ownProcess"
										Name="Cpolar守护服务"
										DisplayName="$(Name)"
										Description="Cpolar守护服务"
										Start="demand"
										ErrorControl="normal"
										Account=".\LocalSystem"/>
					</Component>
					<Component Id="UserInterface">
						<File Source="$(sys.CURRENTDIR)..\Cpolar守护者\发布\Cpolar守护者.exe"
							  KeyPath="yes" Id="UIExecutable">
							<Shortcut Name="Cpolar守护者" WorkingDirectory="INSTALLFOLDER" Directory="ProgramMenuFolder" Advertise="yes">
								<Icon Id="Icon.exe" SourceFile="$(sys.CURRENTDIR)icon0.ico"/>
							</Shortcut>
						</File>
						<RemoveRegistryKey Action="removeOnUninstall" Root="HKLM" Key="SOFTWARE\埃博拉酱\Cpolar守护服务"/>
					</Component>
				</Directory>
			</Directory>
		</StandardDirectory>
		<!-- Tell WiX to install the files -->
		<Feature Id="Service" Title="Cpolar守护者" Level="1">
			<ComponentRef Id="ServiceExecutable" />
			<ComponentRef Id="UserInterface"/>
		</Feature>
		<MediaTemplate EmbedCab="yes"/>
		<!--Execute必须用commit，用immediate可能会在未安装完毕时运行-->
		<CustomAction Id="LaunchApplication" Return="asyncNoWait" Execute="commit" ExeCommand="powershell .\Cpolar守护者.exe" Directory="INSTALLFOLDER"/>
		<CustomAction Id="StopService" Execute="deferred" Impersonate="no" Return="ignore" ExeCommand="net stop Cpolar守护服务" Directory="INSTALLFOLDER"/>
		<CustomAction Id="DeleteService" Execute="deferred" Impersonate="no" Return="ignore" ExeCommand="sc delete Cpolar守护服务" Directory="INSTALLFOLDER"/>
		<InstallExecuteSequence>
			<Custom Action="LaunchApplication" Before="InstallFinalize" Condition="NOT Installed"/>
			<Custom Action="StopService" After="InstallInitialize"/>
			<Custom Action="DeleteService" After="StopService" Condition="NOT Installed OR REMOVE=&quot;ALL&quot;"/>
		</InstallExecuteSequence>
	</Package>
</Wix>