<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cpolar守护者.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cpolar守护者.My.MySettings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="密码" serializeAs="String">
                <value />
            </setting>
            <setting name="隧道名称" serializeAs="String">
                <value />
            </setting>
            <setting name="本地端口" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TCP地址" serializeAs="String">
                <value />
            </setting>
            <setting name="守护中" serializeAs="String">
                <value>False</value>
            </setting>
        </Cpolar守护者.My.MySettings>
    </userSettings>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="%TEMP%\\Cpolar守护者.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="日常" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
</configuration>
